<svelte:head>
    <title>About Covid 19 Statz</title>
</svelte:head>

<div class="section header">
    <div class="container">
        <h1>About</h1>
        <p>
            The data for this site came from <a href="https://covidtracking.com">The Covid Tracking Project</a>.
            You can learn about them by going to their site.
        </p>
    </div>
</div>