<script>
    export let stateName = "";
    export let sortBy = "name"

</script>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6" style="padding-left: 0;">
                <input type="text" class="input"
                bind:value={stateName}
                placeholder="Filter States" style="width: 100%" />
            </div>
            <div class="column is-6" style="padding-left: 0;">
                <div class="select"  style="width: 100%;" >
                    <select bind:value={sortBy} style="width: 100%;  ">
                        <option value="name">By State Name</option>
                        <option value="cases">Cases</option>
                        <option value="deaths">Death</option>
                        <option value="tested">Tested</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
 </div>
